<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <title>登陆 - Awesome Python Webapp</title>
    <link href="/static/css/uikit.min.css" rel="stylesheet"></head>
    <link href="/static/css/uikit.gradient.min.css" rel="stylesheet"></head>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.min.js"></script>
    <script>


<body></body>
</html>
